UnityLockfile
Library
Temp/
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
obj/Debug/Assembly-CSharp-firstpass.dll
obj/Debug/Assembly-CSharp-firstpass.pdb
obj/Debug/build.force
DesignTimeResolveAssemblyReferencesInput.cache
Build.apk
BundleData.txt
Library/metadata/

.vs/
Assembly-CSharp.csproj
Build.app/
obj/
